.raleway-custom {
    font-family: "Raleway", sans-serif;
    font-weight: lighter;
    font-style: normal;
    font-size: large;
}

html {
    min-height: 100vh;
    display: flex;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
}

nav {
    color: #FFFFFF;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
}

.nav_item {
    margin-left: 20px;
}


.nav_link {
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px 10px;
}

.nav_link:hover {
    color: #98A8BF;
}

.nav_link.active {
    font-weight: bold;
    color: #98A8BF;
}

.nav_link.disabled {
    color: #6c757d;
    cursor: not-allowed;
}

.header_admin {
    width:100%;
    background-color: #393939;
    padding: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.logo_Chat {
     font-weight: bold;
     font-size: 30px; /* Taille de police plus grande pour le titre */
     color: white; /* Couleur du titre en blanc */
     margin: 0; /* Supprime les marges par défaut */
 }

.logo_Admin {
    font-weight: lighter;
    font-size: 30px;
    color: white;
    margin: 0;
}

.center {
    display: flex; /* Utilise Flexbox */
    justify-content: center; /* Centre horizontalement */
}

.titre_login{
    display: flex;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 100px;
}

.login_header{
    padding: 100px
}



.links_userList{
    color: #000000;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
}

.links_userList:hover {
    color: #98A8BF;
}

.userlist-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}
.material-symbols-outlined {
    font-size: 36px; /* Adjust the size as needed */
    margin-right: 10px; /* Space between icon and username */
}

.sidebar {
    width: 300px;
    padding: 20px;
    background-color: #FFFFFF;
    order: -1;
}