.raleway-custom {
    font-family: "Raleway", sans-serif;
    font-weight: lighter;
    font-style: normal;
    font-size: large;
}

.nav {
    color: black;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
}

.nav_item {
    margin-left: 20px;
}


.nav_link {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
}

.nav_link:hover {
    color: #98A8BF;
}

.nav_link.active {
    font-weight: bold;
    color: #98A8BF;
}

.nav_link.disabled {
    color: #6c757d;
    cursor: not-allowed;
}

.header_client {
    position: static;
    width:100%;
    background-color: white;
    padding: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.logo_Chat {
    font-weight: bold;
    font-size: 50px;
    color: black;
    margin: 0;
}



.center {
    display: flex;
    justify-content: center;
}

.container_searchbar {
    position: absolute; /* Position absolue pour placer la boîte */
    top: 100px; /* Positionne la boîte à 10 pixels du haut de la page */
    left: 30px; /* Positionne la boîte à 10 pixels de la gauche de la page */
    width: 200px; /* Définit une largeur spécifique pour la boîte */
    padding: 1px; /* Ajoute de l'espace à l'intérieur de la boîte */
    border-radius: 8px; /* Coins arrondis */
    border: 1px solid #ccc; /* Bordure grise claire */

}

input#search {
    color: inherit;
    width: 60vw;
    border: none;
    outline: none;
}

.ul_searchbar {
    height: 0;
    overflow: hidden;
}

.li_searchbar {

}

.match_searchbar {
    font-weight: 600;
    color: green;
}

@media only screen and (min-width: 600px) {
    input#search {
        width: 20vw;
    }
}