.chat-messages {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1rem;
    position: relative;
    overflow-y: scroll;
}

.chat-input-container {
    padding: 1rem;
}

.chat-container {
    height: 100%;

    width: 100%;
    display: flex;
    flex-direction: column;

    background-color: #F6F6F6;
    position: relative;
    overflow-x: hidden;
}

.chat-input-button {
    display: flex;
    align-items: center;
    justify-content: center;
}



::-webkit-scrollbar {

    width: 8px;
    height: 10px;

}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #c2c9d2;
}