<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/html/main.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Création d'un nouvel utilisateur</title>
</head>



<body class="bg-light raleway-custom">
<div th:fragment="createuser" class="d-flex flex-column justify-content-center align-items-center ">
    <h1>Ajouter un utilisateur</h1>
    <form action="#" th:action="@{/createuser}" method="post" th:object="${createClient}" class="w-50">
        <div th:if="${error}">
            <p class="text-danger" th:text="${error}"></p>
        </div>
        <div th:if="${success}">
            <p class="text-success" th:text="${success}"></p>
        </div>
        <div class="form-group">
            <label for="email">Email :</label>
            <input type="email" class=" form-control form-control-lg" id="email" th:field="*{email}" aria-describedby="emailHelp" placeholder="example@ipsum.com">
        </div>
        <div class="form-group mt-3">
            <label for="name">Prénom :</label>
            <input type="text" class=" form-control form-control-lg" id="name" th:field="*{name}" placeholder="Prénom">
        </div>
        <div class="form-group mt-3">
            <label for="surname">Nom :</label>
            <input type="text" class=" form-control form-control-lg" id="surname" th:field="*{surname}" placeholder="Nom">
        </div>
        <div class="form-group mt-3">
            <label for="password">Mot de passe :</label>
            <input type="password" class=" form-control form-control-lg" id="password" th:field="*{password}" placeholder="Mot de passe">
        </div>
        <div class="form-group mt-3">
            <label for="confirmPassword">Confirmez le mot de passe :</label>
            <input type="password" class=" form-control form-control-lg" id="confirmPassword" th:field="*{confirmPassword}"  placeholder="Confirmer le mot de passe">
        </div>
        <div class="form-group mt-3 d-flex align-items-center justify-content-center w-100">
            <label for="admin" class="mx-2">Admin ? </label>
            <input type="checkbox" th:field="*{role}" id="admin">
        </div>
        <div class="d-flex justify-content-between mt-3">
            <button type="submit" class="btn btn-dark">Créer l'utilisateur</button>
            <a href="/admin/accueil" class="btn btn-outline-dark">Annuler</a>
        </div>
    </form>
</div>
</body>
</html>