<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/html/main.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <meta charset="UTF-8">
    <title>Utilisateur supprimé</title>
</head>
<body class="bg-light raleway-custom">
<div th:replace="~{fragments/header :: header(currentPage=${url})}"></div>
<div class="main-content flex-grow-1 mt-3">
    <div>

            <p>L'utilisateur a bien été supprimé définitivement.</p>
            <a href="/admin/accueil" class="btn btn-outline-dark mt-3">Accueil</a>

        </ul>
    </div>
</div>

</body>
</html>