<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/html/main.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Consulter l'utilisateur</title>
</head>



<body class="bg-light raleway-custom">
<div th:replace="~{fragments/header :: header(currentPage=${url})}"></div>
<div class="main-content flex-grow-1 mt-3">
    <div th:fragment="delete_indefinitely" th:object="${userToDeleteIndefinitely}" class=" container mt-5 ">
    <p><b>Êtes-vous sûr de vouloir supprimer définitivement le compte?</b> </p>
    <form action="#" th:action="@{'/admin/delete_indefinitely/' + ${userToDeleteIndefinitely.id}}" method="post" th:object="${editClient}" class="w-50">
        <input type="hidden" id="name" th:field="*{name}" th:value="${editClient.name}">
        <input type="hidden" id="surname" th:field="*{surname}" th:value="${editClient.surname}">
        <input type="hidden" id="password" th:field="*{password}" th:value="${editClient.password}">
        <input type="hidden" id="confirmPassword" th:field="*{confirmPassword}" th:value="${editClient.confirmPassword}">
        <input type="hidden" id="email" th:field="*{email}" th:value="${editClient.email}">
    <button type="submit" class="btn btn-outline-dark">Oui</button>
        <a href="/admin/accueil" class="btn btn-outline-dark">Non</a>

    </form>
    </div>

</body>
</html>