<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/html/stylesheet.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div >
    <ul class="list-group">
        <li th:fragment="disableduser_item(client)" class="list-group-item"><span class="material-symbols-outlined">account_circle</span>
            <div th:text="${client.name + ' ' + client.surname}"></div>
            <div class="d-flex">
                <a class="links_userList" th:href="@{'/admin/view_user/' + ${client.id}}">Consulter</a>
                <a class="links_userList ms-2" th:href="@{'/admin/edit_user/' + ${client.id}}">Éditer</a>
                <a class="links_userList ms-2" th:href="@{'/admin/delete_indefinitely/' + ${client.id}}">Supprimer définitivement</a>
            </div>
        </li>

    </ul>
</div>

</body>
</html>