<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/html/main.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Éditer l'utilisateur</title>
</head>

<body class="bg-light raleway-custom">
<div th:replace="~{fragments/header :: header(currentPage=${url})}"></div>
<aside class="bg-light raleway-custom">
    <div th:fragment="edit_user" th:object="${userToEdit}" class=" container mt-5 ">
    <form action="#" th:action="@{'/admin/edit_user/' + ${userToEdit.id}}" method="post" th:object="${editClient}" style="margin-top: 5rem" class="w-50">
        <div class="form-group">
            <label for="email">Email : </label>
            <input type="email" class=" form-control form-control-lg" id="email" th:field="*{email}" aria-describedby="emailHelp" th:placeholder="${userToEdit.email}">
        </div>

        <div class="form-group mt-3">
            <label for="password">Mot de passe : </label>
            <input type="password" class=" form-control form-control-lg" id="password" th:field="*{password}" th:placeholder="${userToEdit.password}">
        </div>

        <div class="form-group mt-3">
            <label for="password">Mot de passe : </label>
            <input type="password" class=" form-control form-control-lg" id="confirmPassword" th:field="*{confirmPassword}" th:placeholder="'Confirmer le nouveau mot de passe'">
        </div>

        <div class="form-group mt-3 d-flex align-items-center justify-content-center w-100">
            <label for="admin" class="mx-2">Admin ? </label>
            <input type="checkbox" id="admin">
        </div>

        <input type="hidden" id="name" th:field="*{name}" th:value="${editClient.name}">
        <input type="hidden" id="surname" th:field="*{surname}" th:value="${editClient.surname}">


        <div class="d-flex justify-content-between mt-3">
            <button type="submit" class="btn btn-dark">Modifier l'utilisateur</button>
            <a href="/admin/accueil"  class="btn btn-outline-dark">Annuler</a>
        </div>
    </form>
</div>
</aside>
</html>