<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/html/main.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
</head>

<header th:fragment="header (currentPage)" class="header_admin">

        <div class="header-container">

            <div class="logo-container">
                <h3 class="logo_Chat text-white">CHAT'UT</h3>
                <h3 class="logo_Admin text-white">ADMIN</h3>
            </div>
            <nav>
            <ul class="nav">
                <li class="nav_item">
                    <a th:classappend="${currentPage == 'accueil'} ? 'active' : ''" class="nav_link" aria-current="page" href="/admin/accueil">Accueil</a>
                </li>
                <li class="nav_item">
                    <a th:classappend="${currentPage == 'createuser'} ? 'active' : ''" class="nav_link" href="/admin/createuser">Ajouter un utilisateur</a>
                </li>
                <li class="nav_item">
                    <a th:classappend="${currentPage == 'disableduser'} ? 'active' : ''" class="nav_link" href="/admin/disableduser">Utilisateurs désactivés</a>
                </li>
            </ul>
            </nav>
        </div>

</header>

</html>