<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/html/stylesheet.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>
<div>



    <ul th:fragment="userlist" th:object="${userPage.content}" class="list-group">
        <th:block th:each="client : ${userPage.content}">
            <li th:replace="fragments/user_item :: user_item(client=${client})"></li>
        </th:block>
    </ul>

        <ul >
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a class="page-link" th:href="@{/admin/accueil?page=${currentPage - 1}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <th:block th:each="page : ${#numbers.sequence(1, totalPages)}">
                <li class="page-item" th:classappend="${currentPage == page} ? 'active'">
                    <a class="page-link" th:href="@{/admin/accueil?page=${page}}" th:text="${page}"></a>
                </li>
            </th:block>

            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a class="page-link" th:href="@{/admin/accueil?page=${currentPage + 1}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>

    div>

</body>
</html>