<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/html/main.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Consulter l'utilisateur</title>
</head>



<body class="bg-light raleway-custom">
<div th:replace="~{fragments/header :: header(currentPage=${url})}"></div>
    <div class="main-content flex-grow-1 mt-3">
<div th:fragment="view_user" th:object="${userToView}" class="d-flex flex-column  align-items-center wh-100 vh-100 form-group mt-3 ">
    <p><b>Prénom</b> : <span th:text="*{name}"></span></p>
    <p><b>Nom</b> : <span th:text="${userToView.surname}"></span></p>
    <p><b>Email</b> : <span th:text="${userToView.email}"></span></p>
    <p><b>Role</b> : <span th:text="${userToView.role}"></span></p>
    <p><b>Mot de passe</b> : <span th:text="${userToView.password}"></span></p>
    <a href="/admin/accueil" class="btn btn-outline-dark">Retour</a>


</div>
</body>
</html>