<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" th:href="@{/html/main.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <meta charset="UTF-8">
  <title th:text="${title}"></title>
</head>



<body>
<div th:replace="~{fragments/header :: header(currentPage=${url})}"></div>
<div class="d-flex h-100 container">
<div th:replace="~{fragments/aside :: aside}"></div>
  <div class="main-content flex-grow-1 mt-3">
  <div th:if="${url == 'createuser'}">
    <div  th:replace="~{fragments/createuser :: createuser}"></div>
  </div>
    <div th:if="${url == 'disableduser'}">
      <div  th:replace="~{fragments/disableduser :: disableduser}"></div>
    </div>
  <div th:if="${#strings.contains(url, 'accueil')}">
  <ul  th:replace="~{fragments/user_list :: userlist}"></ul>
  </div>
    <div th:if="${url == 'edit_user'}">
      <ul  th:replace="~{fragments/edit_user :: edit_user}"></ul>
    </div>
    <div th:if="${url == 'delete_indefinitely'}">
      <ul  th:replace="~{fragments/delete_indefinitely :: delete_indefinitely}"></ul>
    </div>
    <div th:if="${#strings.contains(url, 'view_user')}">
      <ul th:replace="~{fragments/view_user :: view_user}"></ul>
    </div>
</div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>