<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Liens vers les feuilles de style -->
    <link type="text/css" rel="stylesheet" th:href="@{/html/main.css}">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>CHAT'UT - Se connecter</title>
</head>

<header class="login_header">

</header>
<body>
<h1 class="titre_login">CHAT'UT</h1>
<div class="container d-flex justify-content-center mt-5">
    <form th:action="@{/login}" method="post" class="col-md-6 raleway-custom">
        <div th:if="${param.error}">
            <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="text-end">
            <a href="#" class="text-muted">Mot de passe oublié ?</a>
        </div>
        <button type="submit" class="btn btn-dark">Se connecter</button>
    </form>
</div>
</body>
</html>
